<nav class="navbar navbar-expand navbar-dark mybar">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active"  >Register</a>
        <a class="nav-item nav-link" [routerLink]="['/mnguser']" routerLinkActive="router-link-active"  >Manage Users</a>
        <a class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active"  *ngIf="!userservice.loggedin">Sign In</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="userservice.loggedin">Logout</a>
    </div>
</nav>