<div class="container">
    <!-- <p class="h4">Currently logged in : {{currentUser.username}}</p> -->
    <p class="text-center display-4">Manage Users</p>

    {{currentUser.name}}

    <ul class="list-group" *ngFor="let user of users">
        <li class="list-group-item">{{user.name}}</li>
        <li class="list-group-item">{{user.username}}</li>
    </ul>


    <table class="table table-dark mt-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.age}}</td>
                <td><button mat-raised-button (click)="updateUser(user)">Update</button></td>
                <td><button mat-raised-button (click)="deleteUser(user._id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>


<mat-card class="mt-5" *ngIf="showeditform">
    <mat-card-content>
        <form [formGroup]="editform" (ngSubmit)="formSubmit(editform.value)">

            <mat-form-field appearance="outline" class="col">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Leon Kennedy" formControlName="name">
                <mat-error>Name required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Leon" formControlName="username">
                <mat-error>Username required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Leon@mail.com" formControlName="email">
                <mat-error>Email required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Password</mat-label>
                <input matInput placeholder="*********" formControlName="password" type="password">
                <mat-error>Password required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Age</mat-label>
                <input matInput placeholder="50" formControlName="age">
                <mat-error>Age required</mat-error>
            </mat-form-field>

            <div class="col">
                <button mat-raised-button color="primary" class="btn-block mt-5">Sign Me Up</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>