<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg mt-5">
                <div class="card-body">
                    <h1 class="text-center">Reset Your Password</h1>
                    <hr>

                    <input type="text" class="form-control" #email>
                    <div class="text-center mt-4">
                        <button mat-raised-button (click)="sendEmail(email.value)">Send Email</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>