<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body">
            <p class="display-4 text-center">Sign Up</p>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center">
                        <img class="mt-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS86CI5KrtimDHUz3QK6D_vWzSxYelJVOmpNkJ3r61D_hAt2eRf&usqp=CAU" >
                    </div>
                </div>
                <div class="col-md-8">
                    <form [formGroup]="userform" (ngSubmit)="formSubmit(userform.value)">

                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Leon Kennedy" formControlName="name">
                            <mat-error>Name required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-6">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Leon" formControlName="username">
                            <mat-error>Username required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-6">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Leon@mail.com" formControlName="email">
                            <mat-error>Email required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-6">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="*********" formControlName="password" type="password">
                            <mat-error >Password required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-6">
                            <mat-label>Confirm</mat-label>
                            <input matInput placeholder="*********" formControlName="confirm" type="password">
                            <mat-error>Passwords must match</mat-error>
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="col-6">
                            <mat-label>Age</mat-label>
                            <input matInput placeholder="50" formControlName="age">
                            <mat-error>Age required</mat-error>
                        </mat-form-field>

                        <input type="file" (change)="uploadImage($event)">

                        <img [src]="imgURL" *ngIf="imgURL">

                        <div class="col">
                            <button mat-raised-button color="primary" class="btn-block mt-5">Sign Me Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>